---
import Layout from '../layouts/Layout.astro';
import SocialButton from '../components/SocialButton.astro';
---

<Layout title="Akbar Ramadhan">	
		<main class="flex-1 flex flex-col items-center justify-center p-4 text-center">
			<h1 class="text-5xl sm:text-6xl font-bold mb-4">Akbar Ramadhan</h1>
			<h2 class="text-2xl sm:text-3xl mb-6">Backend Engineer | DevOps & Cloud Enthusiast</h2>
			<p class="max-w-xl sm:max-w-2xl mb-8 text-lg sm:text-xl">A backend engineer with a passion for cloud infrastructure and automation. Love to build scalable and reliable systems.</p>
			<div class="flex space-x-6">
				<SocialButton href="https://github.com/goberman15" icon="github" />
				<SocialButton href="https://linkedin.com/in/akbarramadhan" icon="linkedin" />
			</div>
		</main>
</Layout>
