<header class="p-4 flex justify-between items-center">
    <div class="text-xl font-bold">Your Logo</div>
	<nav>
		<ul class="flex space-x-4">
			<li><a href="/blog" class="hover:text-gray-300 font-semibold">Bits</a></li>
                <li><a href="/wiki" class="hover:text-gray-300 font-semibold">Wiki</a></li>
                <li><a href="https://resume.theramadhan.com" class="hover:text-gray-300 font-semibold" target="_blank" rel="noopener noreferrer">Resume</a></li>
        </ul>
	</nav>
</header>