<header class="p-4 flex justify-between items-center">
    <a href="/" class="text-xl font-bold">The-Ramadhan</a>
	<nav>
		<ul class="flex space-x-4">
			<li><a href="/bits" class="hover:text-gray-300 font-semibold">Bits</a></li>
            <li><a href="/wiki" class="hover:text-gray-300 font-semibold">Wiki</a></li>
            <li><a href="https://resume.theramadhan.com" class="hover:text-gray-300 font-semibold" target="_blank" rel="noopener noreferrer">Resume</a></li>
        </ul>
	</nav>
</header>