---
import Layout from "./Layout.astro";
import WikiContent from "../components/WikiContent.astro";
import WikiSidebar from "../components/WikiSidebar.astro";

interface Props {
    title: string;
}

const { title }: Props = Astro.props;
---

<Layout title={title}>
    <div class="flex">
        <WikiSidebar />
        <WikiContent>
            <slot />
        </WikiContent>
    </div>
</Layout>